/* Global styles */
small {
	font-size: 10px;
}

/* Font style for monospace text */
.font-monospace {
	font-size: 12px;
}


/* Set the height of an element to 100% of the viewport height */
.height {
	height: 100vh
}
/* Styles for the search form */
.form {
	position: relative
}
/* Positioning and styling for the search icon */
.form .fa-search {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #9ca3af
}

/* Positioning and styling for the span element in the form */
.form span {
	position: absolute;
	right: 17px;
	top: 13px;
	padding: 2px;
	border-left: 1px solid #d1d5db
}
/* Padding for the left-pan class */
.left-pan {
	padding-left: 7px
}
/* Additional padding for the left-pan icon */
.left-pan i {
	padding-left: 10px
}
/* Styles for the form input */
.form-input {
	height: 55px;
	text-indent: 33px;
	border-radius: 10px
}
/* Focus styles for the form input */
.form-input:focus {
	box-shadow: 1px;
	border: 1px
}
/* Primary button styles */
.btn-primary {
	color: white;
	background-color: CornflowerBlue;
	border-color: white;
}
/* Hover styles for the primary button */
.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
/* Secondary button styles */
	.btn-secondary {
		font-size: 14px;
		padding: 6px 12px;
	  }





/* Secondary button styles */
.btn-secondary:hover {
	color: #fff;
	background-color: #DarkGray;
	border-color: white;
}

.navbar-nav {
	display: flex;
	align-items: center;
  }

  .navbar-nav li {
	margin: 0 10px;
  }

  .navbar-nav a:hover {
	text-decoration: underline;
  }

  .navbar-nav .active {
	font-weight: bold;
	color: #4285f4;
  }

  @import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap');

  .navbar-brand,
.navbar-nav a,
#image-search-link,
#advanced-search-link,
#search-link,
#about-link {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
  }

  .navbar {
    background-color: white !important;
}


.container {
	text-align: center;
	margin-top: 100px;
  }
