{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {{ content | safe }}

    <a href="{% url 'edit_entry' entry_title=title %}">Edit</a>

    <!-- The form for submitting edits -->
    <form action="{% url 'edit_entry' entry_title=title %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="entry_title" value="{{ title }}">
        <input type="submit" value="Edit" class="btn btn-danger">
    </form>
{% endblock %}
