{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Create New Listing</h2>

  <form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Enter Title</label>
      <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description" placeholder="Description">
      </div>

      <div class="form-group">
        <label for="imageurl">image URL</label>
        <input type="text" name="imageurl" class="form-control" id="imageurl" placeholder="image URL">
      </div>

      <div class="form-group">
        <label for="price">price</label>
        <input type="number" name="price" class="form-control" id="price" placeholder="price">
      </div>
      <button class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 hover:from-red-500 hover:to-pink-500 hover:border-red-700 text-white font-bold py-2 px-4 border-b-4 border-purple-700 rounded transition-all duration-300">
        Create Listing
      </button>
  </form>

{% endblock %}
