{% extends "auctions/layout.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'auctions/static/styles.css' %}">
{% block body %}
    <h2 class="text-4xl font-bold text-center mb-8">Active Listings</h2>

    <form action="{% url 'displayCategory' %}" method="POST" class="my-3 flex justify-center">
        {% csrf_token %}
        <label for="category" class="mr-4 text-lg">Choose a category:</label>
        <select name="category" id="category" class="p-2 border rounded">
            {% for cat in categories %}
                <option value="{{ cat }}">{{ cat }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="bg-yellow-500 text-white py-2 px-4 ml-4 rounded hover:bg-yellow-700">
            Select
        </button>
    </form>

    <div class="flex flex-wrap justify-center mx-3">
        {% for listing in listings %}
            <div class="max-w-sm rounded overflow-hidden shadow-lg mx-4 mb-8">
                <img src="{{ listing.imageUrl }}" class="w-full h-64 object-cover" alt="{{ listing.title }}">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ listing.title }}</div>
                    <p class="text-gray-700 text-base">{{ listing.description }}</p>
                    <p class="text-gray-900 text-xl mt-2">${{ listing.price.bid }}</p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <a href="{% url 'listing' listing.id %}"
                        class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-full">
                        Details
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
