{% extends "auctions/layout.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'auctions/styles.css' %}">
{% block body %}

<div class="container mt-4">
    {% if message %}
        <div class="alert {% if updated %}alert-success{% else %}alert-danger{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endif %}
</div>

{% if not listing.isActive and user == listing.price.user %}
    <div class="alert alert-success" role="alert">
        Congratulations! You won the Auction!
    </div>
{% endif %}

<div class="row mx-3 mt-4">
    {% if user.is_authenticated and listing.isActive %}
        {% if isOwner %}
            <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
                {% csrf_token %}
                <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Close Auction
                    </span>
                </button>
            </form>
        {% endif %}

        {% if isListingInWatchlist %}
            <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Remove From Watchlist
                    </span>
                </button>
            </form>
        {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Add To Watchlist
                    </span>
                </button>
            </form>
        {% endif %}
    {% endif %}
</div>

<h2 class="mt-4">Car: {{ listing.title }}</h2>
<img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="200px" class="mb-3">
<p>{{ listing.description }}</p>
<p>Owner: {{ listing.owner }}</p>
<h4>Price: ${{ listing.price.bid }}</h4>

{% if user.is_authenticated %}
    <form action="{% url 'addBid' id=listing.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="newBid">Add Bid</label>
            <input id="newBid" min="{{ listing.price.bid }}" type="number" name="newBid" placeholder="Add New Bid" required class="form-control">
            <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Add
                </span>
            </button>
        </div>
    </form>
{% endif %}

<h2 class="mt-4">Comments</h2>

<br>

{% if user.is_authenticated %}
    <form action="{% url 'addComment' id=listing.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="price">Add Comment</label>
            <input id="price" type="text" name="newComment" placeholder="Add New Comment" class="form-control">
            <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none
