{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Buy Stocks</h1>
            <form action="{{ url_for('buy') }}" method="post">
                <div class="form-group">
                    <label for="shares">Shares:</label>
                    <input type="text" class="form-control" name="shares" id="shares" placeholder="Enter the number of shares" required>
                </div>
                <div class="form-group">
                    <label for="symbol">Symbol:</label>
                    <input type="text" class="form-control" name="symbol" id="symbol" placeholder="Enter stock symbol" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Buy Stocks</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
