{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped mt-4">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                <tr>
                    <th scope="row">{{ holding["symbol"] }}</th>
                    <td>{{ holding["name"] }}</td>
                    <td>{{ holding["shares"] }}</td>
                    <td>{{ holding["price"] }}</td>
                    <td>{{ holding["total"] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row" colspan="4">CASH</th>
                    <td>{{ cash }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>{{ all_total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
