{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Stock Quote</h2>
                        <p class="card-text text-center">{{ stockSpec["name"] }} {{ stockSpec["symbol"] }} costs {{ stockSpec["price"] }}.</p>

                        <small class="text-muted d-block text-center">Data provided for free by IEX. View IEX’s Terms of Use.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
